<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757853479373-51r8dqvpohkvj5ns193c7p4o6pbljpdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757853479373-51r8dqvpohkvj5ns193c7p4o6pbljpdf</string>
	<key>API_KEY</key>
	<string>AIzaSyAuE1sISMyRR8JUYU1fzpWwUhFRStvsrdU</string>
	<key>GCM_SENDER_ID</key>
	<string>757853479373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.madendinara.ProjectIOS</string>
	<key>PROJECT_ID</key>
	<string>projectios-16472</string>
	<key>STORAGE_BUCKET</key>
	<string>projectios-16472.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757853479373:ios:5ef6042c0df38b0e786484</string>
	<key>DATABASE_URL</key>
	<string>https://projectios-16472.firebaseio.com</string>
</dict>
</plist>